.question-form {
  margin: 30% 0 0 20px;
}

.question-form p {
  font-weight: 800;
  font-size: 25px;
  color: #686868;
  margin: 0;
}

.rect-under-question-text {
  fill: #ededed;
}

.radio-button-container {
  margin-top: 35px;
  text-align: center;
}
