.progress-bar {
  position: relative;
  height: 2px;
  width: 370px;
  background: #ededed;
}

.filler {
  background: #69CDBB;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
